.row {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 5%;
}

#success-home a{
    color: #fff;
    font-size: large;
    font-weight: 500;
}

#success-home a:visited{
    color: #fff;
}

button, #btn-submit {
    background-color: rgb(0, 255, 13);
    border-color: rgb(0, 255, 13);
    font-weight: 900;
    font-size: larger;
    color: #111;
}

#title {
    font-weight: bolder;
    /* padding-top: 10%; */
}

#frame {
    border: .4em solid rgb(0, 0, 0);
    padding: 2%;
    margin-top: 3%;
    height: 25em;
    width: 60em;
    display: flex;
    justify-content: center;
    background-color: white;
}

iframe {
    height: 100%;
    width: 100%;
}

#search-container {
    margin: 5%;
}
#search-form {
    display: flex;
    justify-content: center;
}

#search-container  #btn-submit{
    position: relative;
    bottom: .09em;
}

#search-home {
    width: 50%;
    height: 2.5em;
    margin-right: .5em;
}

#login-form {
    padding-top: 20%;
    display: flex;
    justify-content: center;
}

#login-form button{
    margin-top: 10%;
    background: rgb(0, 255, 13);
    border-color: rgb(0, 255, 13);
    font-size: x-large;
    font-weight: 800;
    color: #111;
}

#login-form input{
    font-size: larger;
    padding: 0%;
    padding-left: 2%;
}

#title-how-to {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#table-requests {
    margin: 10%;
    width: 50%;
    font-size: large;
    display: flex;
    justify-content: center;
}

#table-requests table{
    background-color: white;
}

#info-upcoming {
    margin: 10%;
    display: flex;
    justify-content: center;
}

#alert-home {
    margin: 5%;
    width: 50%;
}

#header-nav {
    color: #fff;
    font-size: x-large;
    box-shadow: 0px 15px 10px -15px #111;
}

#header-nav ul li a{
    color: #fff;
    font-size: x-large;
}

#header-nav ul li a:hover{
    color: rgb(0, 255, 13);
}

#header-nav ul li a:active{
    color: rgb(0, 255, 13);
}