<pre id="myText" style="word-wrap: break-word; white-space: pre-wrap;"></pre>

  <script>
    const data = [{ 
        "name": "Brenden", 
        "strength": 50,
        "occupation": "Software Engineer",
        "Alias": ["The GOAT", "Resource"]
    },
    {
        "name": "Albert", 
        "strength": 200,
        "occupation": "Software Engineer",
        "Alias": ["old al"]
    },
    {
        "name": "Anthony", 
        "strength": 75,
        "occupation": "Software Engineer",
        "Alias": ["The marine"]
    },
    {
        "name": "Chad", 
        "strength": 5000,
        "occupation": "Instructor",
        "Alias": ["that guy"]
    },
    {
        "name": "Craig", 
        "strength": 350,
        "occupation": "Software Engineer",
        "Alias": ["The WeChat Engineer"]
    },
    {
        "name": "Deja", 
        "strength": 140,
        "occupation": "Software Engineer",
        "Alias": ["Dee"]
    },
    {
        "name": "Elihu", 
        "strength": 900,
        "occupation": "Software Engineer",
        "Alias": ["The Mathematician"]
    },
    {
        "name": "Eric", 
        "strength": "",
        "occupation": "Software Engineer",
        "Alias": ["The hacker"]
    },
    {
        "name": "Giovanni", 
        "strength": 750,
        "occupation": "Software Engineer",
        "Alias": ["The Linux Legend", "time-keeper"]
    },
    {
        "name": "James", 
        "strength": 10000,
        "occupation": "Software Engineer",
        "Alias": ["The Scammer"]
    },
    {
        "name": "joshua", 
        "strength": 420,
        "occupation": "Software Engineer",
        "Alias": ["The Recorder"]
    },
    {
        "name": "Mieka", 
        "strength": 4000,
        "occupation": "Software Engineer",
        "Alias": ["The Helper"]
    },
    {
        "name": "Patrick", 
        "strength": 4444,
        "occupation": "Software Engineer",
        "Alias": ["The Visionary", "The Dragon"]
    },
    {
        "name": "Segan", 
        "strength": 5606,
        "occupation": "Software Engineer",
        "Alias": ["The Seganator"]
    },
    {
        "name": "Suchit", 
        "strength": 321,
        "occupation": "Software Engineer",
        "Alias": ["The Presenter"]
    },
    {
        "name": "Trey", 
        "strength": 259,
        "occupation": "Software Engineer",
        "Alias": ["The Hawk"]
    },
    {
        "name": "Winton", 
        "strength": 9999999,
        "occupation": "Software Engineer",
        "Alias": ["The Chosen One"]
    },
    {
        "name": "XuiXiang", 
        "strength": 642,
        "occupation": "Software Engineer",
        "Alias": ["Leetcode Legend", "The Snake"]
    },
    {
        "name": "Yaping", 
        "strength": 8250,
        "occupation": "Software Engineer",
        "Alias": ["Super"]
    }];

    document.getElementById("myText").innerHTML = JSON.stringify(data);
    
  </script>