{% extends "base.html" %}
{% block main %}
<style>body {
  background-color: #212529;
  color: #fff;
}</style>
  <header>
    
    <nav id="header-nav" class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guide">Guide</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<div class="container">
    <div class="row">
      <h1 id="title" class="text-center">Hi {{ name }}, Give it a go!</h1>
      <div id="search-container">
          <form id="search-form">
            <input id="search-home" type="text" placeholder="Search for a character" name="search">
            <input id="btn-submit" class="btn btn-primary" type="submit" value="submit">
          </form>
      </div>
      <div id="frame">
      
      </div>
    </div>
</div>
{% endblock %}