{% extends "base.html" %}
{% block main %}
<style>
  body{background-color: #e4e4e7;
};
</style>
<div class="container">
    <div class="row">
      <div id="alert-learn-more">
        <div id="alert-text" class="alert alert-danger text-center" role="alert">
          Want to make an api request? learn more <a href="/guide" class="alert-link">here</a>. Give it a go!
        </div>
      </div>
      
      <h1 id="title" class="text-center">Hi {{ name }}, Give it a go!</h1>
      <div id="search-container">
          <form id="search-form">
            <input type="text" placeholder="Search for a character" name="search">
            <input id="btn-submit" class="btn btn-primary" type="submit" value="Submit">
          </form>
      </div>
      <div id="frame">
      
      </div>

    </div>
</div>
{% endblock %}